*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

html,body{
    overflow-x:hidden;
    scroll-behavior: smooth;
}

#bg{
 background-color: rgb(38,51,72);
}

.nav-link{
    color:rgb(148,154,165);
    margin:5px;
}

#bgg{
    background-color: rgb(38,51,72);
    background-image: url(/image/hero-bg.png);
}

.form-control{
    padding: 24px 0;
}
.blueline{
    height: 3px;
    width: 20px;
    background-color: #0f44ff;
}

.ri-caravan-fill{
    font-size: 60px;
    margin-right: 10px;
}

.ri-printer-cloud-fill, .ri-stack-fill, .ri-plant-fill{
    font-size: 45px;
}

a{
    text-decoration: none;
}

.tom{
    color: rgb(14,30,55);
}

.tom:hover a, .tom:hover h4, .tom:hover .ri-caravan-fill{
    color: blue !important;
    
}

.tom{
    cursor: pointer;
}

.tommy{
    color: rgb(25,51,92);
}

.josh p{
    font-size: 15px;
}

.josh h4{
  color: rgb(25,51,92);
}

.man{
    color:rgb(0,25,115);
}

.cardpart1:hover h5{
    color: blue;
}

.manmustrich{
    color: rgb(14,29,52);
}

#woman{
  background-attachment: fixed !important;
  background: linear-gradient(rgba(14, 29, 52, 0.6),rgba(14, 29, 52, 0.8)),url(/image/cta-bg.jpg);
}

.starboy{
    padding: 10px 20px;
}

.ineedmoney{ 
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 13px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    
}

.myheart {
    padding: 100px 0;
}

#ilovemyex{
    padding: 30px 0;
}

.starman{
    color: rgb(0,25,115);
}

.ineedmoney:hover{
    background-color: blue;
    color: #fff;
    border: 2px solid transparent;
}

.card{
    border-radius: 0 !important;
}

.ourServicesTextDiv{
    position: relative;
}

.ourServices1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #00197313;
    font-weight: bold;
    z-index: -1;
}

.pic1{
    overflow: hidden;
  }
  
  .pic1:hover img{
    transform: scale(1.1);
  }

  .pic1 img{
    transition: all 0.5s ease;
  }

#sapa{
    padding:10px 60px;
}

  .mammmm{
    font-size: 18px !important;
  }

  .joshua{
    /* box-shadow: 3px 3px 3px rgb(228, 228, 228); */
    border-radius: 5px;
    padding: 30px 10px;
    border: none;
  }
  
  .just{
    font-size: 53px;
  }

  #anotherpart{
    background: linear-gradient(rgba(14, 29, 52, 0.6),rgba(14, 29, 52, 0.8)),url(/image/testimonials-bg.jpg);
    height:500px;
    padding: 70px 0;
    padding-bottom: 50px;
  }

.carousel-item img{
    border-radius: 200px;
    width: 10%;
    background-color: rgba(255,255,255,0.418);
    padding: 10px 10px;
}

.naruto{
    width:100px;
}

.john{
    padding-bottom: 100px !important;
}

#thelastpart{
    background-color: rgb(14,29,52);
}