*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

html,body{
    overflow-x:hidden;
    scroll-behavior: smooth;
}

#bg{
 background-color: rgb(38,51,72);
}

.nav-link{
    color:rgb(148,154,165);
    margin:5px;
}

#bgg{
    background-color: rgb(38,51,72);
    background-image: url(/image/hero-bg.png);
}

.form-control{
    padding: 24px 0;
}
.blueline{
    height: 3px;
    width: 20px;
    background-color: #0f44ff;
}

.ri-caravan-fill{
    font-size: 60px;
    margin-right: 10px;
}

.ri-printer-cloud-fill, .ri-stack-fill, .ri-plant-fill{
    font-size: 45px;
}

a{
    text-decoration: none;
}

.tom{
    color: rgb(14,30,55);
}

.tom:hover a, .tom:hover h4, .tom:hover .ri-caravan-fill{
    color: blue !important;
    
}

.tom{
    cursor: pointer;
}

.tommy{
    color: rgb(25,51,92);
}

.josh p{
    font-size: 15px;
}

.josh h4{
  color: rgb(25,51,92);
}

.man{
    color:rgb(0,25,115);
}

.cardpart1:hover h5{
    color: blue;
}

.manmustrich{
    color: rgb(14,29,52);
}

#woman{
  background-attachment: fixed;
  background: linear-gradient(rgba(14, 29, 52, 0.6),rgba(14, 29, 52, 0.8)),url(/image/cta-bg.jpg);
}